/* flex box */

body.__motionfocus {
  user-select: none !important;
  -webkit-user-select: none !important;
  cursor: context-menu !important;
}

._motionHighlighter {
  background: rgba(0,0,200,0.1);
  position: fixed;
  z-index: 2147483646;
  pointer-events: none;
}

.__motionError {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2147483646;
  opacity: 0;
  background: rgba(255,0,0,0.03);
  transition: all linear 100ms 1000ms;
}

.__motionError.active {
  opacity: 1;
  transition: all linear 100ms 0ms;
}

._motiondevtools {
  font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 14px;
  line-height: 1.4;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
}

._motiondevtools * {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  flex-shrink: 1;
  align-items: stretch;
  box-sizing: border-box;
  flex-wrap: nowrap;
  -webkit-flex-flow: column;
  -webkit-flex-shrink: 1;
  -webkit-align-items: stretch;
  -webkit-flex-wrap: nowrap;
}

._motiondevtools a,
._motiondevtools button,
._motiondevtools input,
._motiondevtools textarea {
  align-self: flex-start;
}

._motiondevtools a,
._motiondevtools span,
._motiondevtools em,
._motiondevtools b,
._motiondevtools strong,
._motiondevtools i {
  white-space: pre-wrap;
  display: inline;
}

._motiondevtools script,
._motiondevtools meta,
._motiondevtools link {
  display: none;
}

._motiondevtools a,
._motiondevtools input,
._motiondevtools textarea,
._motiondevtools select {
  outline: 0;
}

._motiondevtools p,
._motiondevtools h1,
._motiondevtools h2,
._motiondevtools h3,
._motiondevtools h4,
._motiondevtools h5,
._motiondevtools h6,
._motiondevtools br {
  display: block;
}

._motiondevtools html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}



/* tools specific */

._motiondevtools .block {
  display: block;
}

._motiondevtools .block * {
  display: block;
}

._motiondevtools .block span,
._motiondevtools .block em,
._motiondevtools .block b,
._motiondevtools .block a {
  display: inline;
}