/* flex box */

#_flintdevtools {
  font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 14px;
  line-height: 1.4;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
}

#_flintdevtools * {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  flex-shrink: 1;
  align-items: stretch;
  box-sizing: border-box;
  flex-wrap: wrap;
  -webkit-flex-flow: column;
  -webkit-flex-shrink: 1;
  -webkit-align-items: stretch;
  -webkit-flex-wrap: wrap;
}

#_flintdevtools a, button, input, textarea {
  align-self: flex-start;
}

#_flintdevtools a, span, em, b, strong, i {
  white-space: pre-wrap;
  display: inline;
}

#_flintdevtools script, meta, link {
  display: none;
}

#_flintdevtools a, input, textarea, select {
  outline: 0;
}

#_flintdevtools p, h1, h2, h3, h4, h5, h6, br {
  display: block;
}

#_flintdevtools html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}



/* tools specific */

#_flintdevtools .block {
  display: block;
}

#_flintdevtools .block * {
  display: block;
}

#_flintdevtools .block span,
#_flintdevtools .block em,
#_flintdevtools .block b,
#_flintdevtools .block a {
  display: inline;
}