/* flex box */

body.__flintfocus {
  user-select: none !important;
  -webkit-user-select: none !important;
  cursor: context-menu !important;
}

._flintHighlighter {
  background: rgba(0,0,200,0.1);
  position: fixed;
  z-index: 2147483646;
  pointer-events: none;
}

.__flintError {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2147483646;
  opacity: 0;
  background: rgba(255,0,0,0.03);
  transition: all linear 100ms 1000ms;
}

.__flintError.active {
  opacity: 1;
  transition: all linear 100ms 0ms;
}

._flintdevtools {
  font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 14px;
  line-height: 1.4;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
}

._flintdevtools * {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  flex-shrink: 1;
  align-items: stretch;
  box-sizing: border-box;
  flex-wrap: nowrap;
  -webkit-flex-flow: column;
  -webkit-flex-shrink: 1;
  -webkit-align-items: stretch;
  -webkit-flex-wrap: nowrap;
}

._flintdevtools a,
._flintdevtools button,
._flintdevtools input,
._flintdevtools textarea {
  align-self: flex-start;
}

._flintdevtools a,
._flintdevtools span,
._flintdevtools em,
._flintdevtools b,
._flintdevtools strong,
._flintdevtools i {
  white-space: pre-wrap;
  display: inline;
}

._flintdevtools script,
._flintdevtools meta,
._flintdevtools link {
  display: none;
}

._flintdevtools a,
._flintdevtools input,
._flintdevtools textarea,
._flintdevtools select {
  outline: 0;
}

._flintdevtools p,
._flintdevtools h1,
._flintdevtools h2,
._flintdevtools h3,
._flintdevtools h4,
._flintdevtools h5,
._flintdevtools h6,
._flintdevtools br {
  display: block;
}

._flintdevtools html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}



/* tools specific */

._flintdevtools .block {
  display: block;
}

._flintdevtools .block * {
  display: block;
}

._flintdevtools .block span,
._flintdevtools .block em,
._flintdevtools .block b,
._flintdevtools .block a {
  display: inline;
}