body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 14px;
  line-height: 1.6rem;
  background: #fff;

  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
}

body, body * {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  flex-shrink: 1;
  align-items: stretch;
  box-sizing: border-box;
  flex-wrap: nowrap;

  -webkit-flex-flow: column;
  -webkit-flex-shrink: 1;
  -webkit-align-items: stretch;
  -webkit-flex-wrap: nowrap;
}

/* get the main to take up full screen by default */
html, body, #_flintapp {
  height: 100%;
}

body, #_flintapp {
  flex: 1;
  -webkit-flex: 1;
}

/* both needed to match <main> or <other> in Main */
#_flintapp > .main, #_flintapp > viewmain {
  flex: 1;
  -webkit-flex: 1;
}

a, button, input, textarea {
  align-self: flex-start;
}

a, span, em, b, strong, i {
  white-space: pre-wrap;
  display: inline;
}

script, meta, link {
  display: none;
}

a, input, textarea, select {
  outline: 0;
}

p, h1, h2, h3, h4, h5, h6, br {
  display: block;
}

p, h1, h2, h3, h4, h5, h6, code, pre {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

pre code {
  margin: 0;
}

img {
  display: block;
}

li {
  display: list-item;
}

code {
  background: #eee;
  padding: 1rem 1.25rem;
}

p code {
  display: inline-block;
  padding: 0;
}



/* Reset 2.0 */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}